@media screen and (min-width: 480px) and (max-width: 990px) {
    * {
        font-family: microsoft jhenghei;
    }
    body,
    html {
        height: 2000px;
    }
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li,
    p {
        /* 重置內、外距*/
        margin: 0;
        padding: 0;
    }
    .full-width {
        width: 100%;
    }
    .full-width-90 {
        width: 95%;
    }
    .fixed-width {
        width: 1140px;
        margin: auto;
    }
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
    .col-4 {
        width: calc(100% / 3 -20px);
        float: left;
        margin: 0 10px;
    }
    .welcome-page-action {
        position: relative;
    }
    .welcome-page {
        width: 60%;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #effeff;
        margin: auto;
        height: 133.8px;
        position: relative;
        box-shadow: #999 1px 1px 15px 1px;
    }
    .kksearch {
        color: #138184;
        margin-left: 35px;
    }
    .kksearch h2 {
        font-size: 1.7em;
        margin: 20px 0;
    }
    #search_experience_value {
        width: 90.5%;
        border: 0.5px solid rgb(214, 214, 214);
        height: 48px;
        margin: auto;
        float: left;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .search_mark {
        width: 48px;
        height: 48px;
        background-color: #22abb5;
        line-height: 48px;
        text-align: center;
        color: #fdfefe;
        font-size: 24px;
        position: absolute;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        float: right;
        position: absolute;
        right: 50px;
    }
    #search_experience_value {
        padding-left: 10px;
    }
     ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgb(182, 182, 182);
        font-weight: bold;
        font-size: 1.1em;
    }
     :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgb(182, 182, 182);
        font-weight: bold;
        font-size: 1.1em;
    }
     ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgb(182, 182, 182);
        font-weight: bold;
        font-size: 1.1em;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgb(182, 182, 182);
        font-weight: bold;
        font-size: 1.1em;
    }
    .recommand-city {
        margin: auto;
    }
    .recommand-city .title,
    .korea .title {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-top: 50px;
    }
    .recommand-city .sub-title {
        font-size: 16px;
        font-weight: bold;
        margin-left: 5px;
        color: #555;
    }
    .recommand-city .col-4 {
        height: 274px;
        margin-top: 20px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }
    .recommand-city .col-4::after {
        content: "";
        display: block;
        height: 25%;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        position: relative;
        z-index: 100;
    }
    .recommand-city .col-4::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.3s;
        opacity: 0;
        border-radius: 5px;
        top: 0;
        left: 0;
    }
    .recommand-city .col-4:hover::after {
        opacity: 1;
    }
    .recommand-city h3 {
        color: #fff;
        font-weight: bold;
        font-size: 1.3em;
        padding-left: 10px;
        position: absolute;
        bottom: 30px;
    }
    .recommand-city .col-4 h4 {
        color: #fff;
        padding-left: 10px;
        position: absolute;
        bottom: 10px;
    }
    .recommand-city .col-4:nth-of-type(1) {
        background-image: url(https://farm3.static.flickr.com/2903/33072008974_43670a111d_c.jpg);
        background-size: cover;
        background-position: center;
    }
    .recommand-city .col-4:nth-of-type(2) {
        background-image: url(https://farm5.static.flickr.com/4560/24869897598_2fa4719020_c.jpg);
        background-size: cover;
        background-position: center;
    }
    .recommand-city .col-4:nth-of-type(3) {
        background-image: url(https://farm5.static.flickr.com/4063/35218628000_d9bf6c24e8_c.jpg);
        background-size: cover;
        background-position: center;
    }
    .recommand-city .col-4:nth-of-type(4) {
        background-image: url(https://farm4.static.flickr.com/3772/11308035054_f60d85410e_c.jpg);
        background-size: cover;
        background-position: center;
    }
    .recommand-city .col-4:nth-of-type(5) {
        background-image: url(https://farm6.static.flickr.com/5564/14436078594_26b10078f2_c.jpg);
        background-size: cover;
        background-position: center;
    }
    .recommand-city .col-4:nth-of-type(6) {
        background-image: url(https://visualhunt.com/photos/l/7/hotel-balcony-palm-tree-window.jpg);
        background-size: cover;
        background-position: center;
    }
    .recommand-city .col-4:nth-of-type(7) {
        background-image: url(https://farm2.static.flickr.com/1662/25885247353_e4c9c2cf27_c.jpg);
        background-size: cover;
        background-position: center;
    }
    .recommand-city .col-4:nth-of-type(8) {
        background-image: url(https://visualhunt.com/photos/l/7/bridging-builds-cathedral-city.jpg);
        background-size: cover;
        background-position: center;
    }
    .koreaBig {
        height: 380px;
    }
    .korea {
        height: 320px;
    }
    .korea .col-4 {
        border: 0.5px solid rgb(214, 212, 212);
        box-sizing: border-box;
        border-radius: 5px;
        height: 100%;
        margin-top: 15px;
        position: relative;
    }
    .korea .col-4 img {
        border-radius: 5px;
        height: 58%;
        width: 98%;
        position: center;
        margin: auto;
        display: block;
        padding-top: 2px;
    }
    .korea .title {
        margin-left: 10px;
    }
    .korea h4 {
        padding-top: 5px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .korea h5:nth-of-type(1) {
        float: left;
    }
    .korea .orderIcon,
    .korea .orderIcon2 {
        float: left;
        margin: 0 9px;
        font-size: 11px;
        line-height: 172%;
        color: #d6d6d6;
    }
    .korea .orderIcon2 {
        font-size: 14;
        line-height: 127%;
        position: absolute;
        top: 270px;
        left: 1.5px;
    }
    .korea h5,
    .korea .price,
    .korea .rate {
        font-size: 12px;
        color: #858585;
    }
    .korea h5:nth-of-type(2) {
        position: absolute;
        top: 270px;
        left: 29px;
    }
    .starContainer {
        word-spacing: -2px;
        font-size: 13px;
        position: absolute;
        bottom: 8px;
        left: 10px;
        color: #51cbd4;
    }
    .korea .rate {
        position: absolute;
        bottom: 8px;
        left: 80px;
    }
    .korea .price {
        position: absolute;
        bottom: 8px;
        right: 6px;
    }
    .korea span {
        font-size: 18px;
        color: #51cbd4;
        margin-left: 5px;
    }
    .why-kkday {
        height: 440px;
    }
    .wraper {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        background-image: url(https://imgur.com/kvczprs.jpg);
    }
    .wraper::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .why-kkday h2,
    p {
        text-align: center;
        width: 580px;
        margin: auto;
        line-height: 35px;
    }
    .why-kkday button {
        width: 200px;
        height: 55px;
        background-color: #f5d313;
        color: #fff;
        border: none;
        font-weight: bold;
        /* box-shadow: 1px 1px 20px 1px #555; */
        border-radius: 5px;
        position: absolute;
        left: 43%;
        bottom: 20%;
        font-size: 1.2em;
    }
    .why-kkday h2 {
        font-size: 2.6em;
        padding-top: 60px;
        position: absolute;
        top: 0;
        right: 30%;
    }
    .why-kkday p {
        width: 580px;
        height: 113px;
        font-size: 1.2em;
        color: #666;
        font-weight: bold;
        margin-top: 70px;
        position: absolute;
        top: 20%;
        right: 30%;
    }
}